data/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Кореневий елемент -->
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="author" type="xs:string"/>
              <xs:element name="category">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="художня"/>
                    <xs:enumeration value="технічна"/>
                    <xs:enumeration value="наукова"/>
                    <xs:enumeration value="дитяча"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="price">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="PositivePrice">
                      <xs:attribute name="currency" type="xs:string" fixed="UAH"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="isbn" type="ISBNType"/>
              <xs:element name="year" type="YearType"/>
              <xs:element name="stock" type="xs:nonNegativeInteger"/>
              <xs:element name="image" type="xs:anyURI" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="deleted" type="xs:boolean" default="false"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Користувацькі типи -->
  <xs:simpleType name="PositivePrice">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISBNType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-\d-\d{4}-\d{4}-\d"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="YearType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1900"/>
      <xs:maxInclusive value="2025"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
